[".local/share/fonts/TTF/NotoColorEmoji.ttf"]
type = "file"
url = "https://github.com/googlefonts/noto-emoji/raw/main/fonts/NotoColorEmoji.ttf"

[".local/share/icons"]
type = "archive"
url = "https://github.com/ful1e5/Bibata_Cursor/releases/download/v2.0.7/Bibata-Modern-Classic.tar.xz"
